* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    background-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    height: 950px;
    width: 900px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.mainItem {
    text-align: center;
    margin: 20px 0 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
}

ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none;
}

ul > li > a {
    text-decoration: none;
}


footer > p {
    text-align: center;
}

/* ul > li {
    padding: 5px 0 0 15px;
} */

footer {
    display: flex;
    justify-content: center;
}

footer > p > a{
    text-decoration: none;
}